{% extends 'base.html'%}
{% load static%}

{% block content%}

{% include 'includes/navbar.html'%}


<section class="section-content padding-y bg">
<div class="container">

<div class="row">

	<aside class="col-lg-8">
    <div class="card">
    <h5 class="card-header">Patient Address</h5>
    <div class="card-body">
      <p class="card-text">{{order.fullname}}</p>
      <p class="card-text">{{order.full_address}} , {{order.city}},</p>
      <p class="card-text"> {{order.state}} , {{order.contry}} , {{order.pin_code}}</p>
      <p class="card-text"> Mob: {{order.phone}}</p>
      <p class="card-text">Email: {{order.email}} </p>

      {% if order.order_note%}
      <b>Order Note:</b>{{order.order_note}}
      {%endif%}
      <p></p>

    </div>
    <div class="card">
    <h5 class="card-header">Payment Method</h5>
    <div class="card-body">
      <p class="card-text">Free</p>

    </div>
    <div class="card">
    <h5 class="card-header">Disease Review</h5>
    <div class="card-body">
      <table class="table table-borderless table-shopping-cart">
      <thead class="text-muted">
      <tr class="small text-uppercase">
        <th scope="col">Hospital Name</th>
        <th scope="col" width="120">Quantity</th>
        <th scope="col" width="120">Disease</th>
        <th scope="col" class="text-right" width="200"> </th>
      </tr>
      </thead>
      <tbody>
        {% for cart_item in cart_items%}
      <tr>
        <td>
          <figure class="itemside align-items-center">
            <div class="aside"><img src="{{cart_item.product.image.url}}" class="img-sm"></div>
            <figcaption class="info">
              <a href="{{cart_item.product.get_url}}" class="title text-dark">{{cart_item.product.product_name}}</a>

            </figcaption>
          </figure>
        </td>
        <td>
          <!-- col.// -->
              <label for="checkout"><span>{{cart_item.quantity}}</span></label>
        </td>
        <td>
          <div class="price-wrap">
            <var class="price">{{cart_item.product.catagory}}</var>
           
          </div> <!-- price-wrap .// -->
        </td>

      </tr>
      {% endfor %}
      </tbody>
      </table>

    </div>
  </div>

	</aside> <!-- col.// -->
	<aside class="col-lg-4">
		{% for cart_item in cart_items%}
		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>User Name::</dt>
			  <dd class="text-right">{{cart_item.user}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Disease Name:</dt>
			  <dd class="text-right"> {{cart_item.product.catagory}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Hospital Name:</dt>
			  <dd class="text-right text-dark b"><strong>{{cart_item.product.product_name}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static './images/misc/payments.png'%}" height="26">
			</p>
			<a href="{% url 'order_completed'%}" class="btn btn-primary btn-block"> Confirm Booking</a><br>

				

		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
{% endfor%}

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>


{% include 'includes/footer.html'%}

{% endblock%}
<!-- Razorpay's Javascript code. -->
